#par-div{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
#draw-area{
    border: 1px solid red;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}
.added{
    display: inline-block;
    background-color: grey;
    border: 0.1px solid red;
}
h1{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3rem;
}