:root{
    --primary : linear-gradient(90deg, #EC6EAD, #3494E6);
}
body{
    background: linear-gradient(90deg, #3494E6, #EC6EAD);
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
#par-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#draw-area{
    background-color: white;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}
.added{
    display: inline-block;
    border: 0.1px solid grey;
}
h1{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3rem;
}