:root{
    --primary : #1ECBE1;
    --secondary : #1EE196;
    --tetra : #961EE1;
    --deca: #6AE11E;
    --pads : 15px;
    --radii: 10px;
    --font: 1.5rem;
    --shadow: 2px 5px 5px grey;
    --inset-shadow: 2px 2px 5px black inset;
}
body{
    background-color:bisque;
    font-family: 'Fredoka', sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
#par-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
#draw-div{
    margin: 0 50px 0 50px;
}
#draw-area{
    background-color: white;
    width: 550px;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    box-shadow: var(--shadow);
}
.added{
    display: inline-block;
    border: 0.01px solid grey;
}
h1{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3rem;
}

/* Function Buttons */
#randomizer, #grid-lines,#ss{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary);
    padding: var(--pads);
    gap: 15px;
    justify-content: center;
    border-radius: var(--radii);
    font-size: var(--font);
    box-shadow: var(--shadow);
}
#ss{
    margin: 50px;
    border: none;
    
}

/* DRAW DIV */
#draw-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#range-display-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font);
}
#range-display{
    padding: var(--pads);
    background-color: var(--primary);
    border-radius: var(--radii);
    margin-top: 10px;
    justify-content: space-between;
    box-shadow: var(--inset-shadow);
}
#clear-canvas{
    padding: var(--pads);
    padding-left: var(--pads);
    padding-right: var(--pads);
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--primary);
    border-radius: var(--radii);
    border: none;
    box-shadow: var(--shadow);
    margin-top: 10px;
}


/* CANVAS FUNCTIONS */
#canvas-div, #canvas-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#color-container{
    background-color: var(--secondary);
    padding: var(--pads);
    border-radius: var(--radii);
    box-shadow: var(--shadow);
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#opacity-div{
    margin-top: 20px;
}
.color-pick{
    width: 70px;
    height: 70px;
    border: 2px solid black;
}
#stroke-div{
    display: flex;
    flex-direction: row;
    gap:30px;
    margin-top: 10px;
}
.e-and-b{
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.be{
    width: 40px;
    height: 40px;
}